<h1>会員一覧画面</h1>

<table class="admin_guest index">
	<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>メールアドレス</th>
		<th>ステータス</th>
	</tr>
    <% @guests.each do |guest| %>
	<tr>
		<td><%= guest.id %></td>
		<td>
			<% @family_name = guest.family_name%>
			 <% @last_name = guest.last_name %>
		     <% @name = @family_name + @last_name %>
		     <%= link_to @name ,admin_guest_path(guest.id) %>
		</td>
		<td><%= guest.email %></td>
		<td><% if guest.delete_user_status %>
			退会済み
			<% else %>
			有効
			<% end %>
		</td>
	</tr>
	<% end %>
</table>