<!DOCTYPE html>
<html>
  <head>
  	<title>購入情報入力</title>
  </head>
  <body>
  <div class="container">
    <h2>購入情報入力</h2>
    <h5>支払方法</h5>
    <p><input type="radio" name="payment_method" value="credit_card">クレジットカード</p>
    <p><input type="radio" name="payment_method" value="bank_transfer">銀行振込</p>
    <h5>お届け先</h5>
    <p><input type="radio" name="postal_adress" value="postal_adress">ご自身の住所</p>
    <p><input type="radio" name="postal_adress" value="postal_adress">登録済住所から選択</p>
    <p><input type="radio" name="postal_adress" value="postal_adress">新しいお届け先</p>
    </div>
  </body>
</html>