<section>
	<div id="main">
		<div class="main-title">
			<h1>ながのCAKE</h1>
			<h2>Welcome!!</h2>
		</div>
	</div>
		<h4 class="favorite-title">おすすめ(最新一覧)</h4>
		<div class="container top">
			<div class="row">
				<% @products.each do |product| %>
					<div class="col-xs-4">
							<%= link_to guest_product_path(product.id) do %>
								<%=attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg',fallback: "no_image.jpg" ,class: "sample_cake" %>
							<% end %>
						    <p><%= product.name %></p>
					</div>
			    <% end %>
			</div>
		</div>
</section>