<h3>ジャンル検索</h3>
  <ul>
  	<li>
		<% @genres.each do |genre| %>
		<%= link_to genre.name,guest_products_path(genre_id: genre.id) %>
		<% end %>
	</li>
  </ul>


<h3><%= @genre.name %>(全X件) </h3>

		<% @products.each do |product| %>
			<div class="top-product-cake">
				<h4 class="top-product-name">商品名<%= link_to product.name,guest_product_path(product.id) %></h4>
				<p>¥<%= product.non_tax_price %></p>
			</div>
		<% end %>