<div class="product-details">
	<img class="show-sample_cake" src="top-image.jpg">
	<h4 class="show-product-name"><%= @product.name %></h4>
	<p class="show-product-comment"></p>
	<div class="show-product-price">¥<%= @product.non_tax_price %>(税込)</div>
</div>