/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	@import "bootstrap-sprockets";
	@import "bootstrap";


.nav navbar-nav navar-center{
	text-align: center;
}

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:18px;
}

#main{
	width:100%;
	height:600px;
	background-image:url(top-image.jpg);
	background-size:cover;
	background-position:center;
}

.main-title{
	color:#fff;
	font-size:60px;
	padding-top:100px;
	padding-left:30px;
}

.favorite-title{
	font-size:40px;
	padding-top:150px;
	text-align:center;
}

.favorite-title::after{
	content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.sample_cake{
	width:300px;
	height:200px;
}

.top-product-cake{
	margin-top:100px;
	float:left;
	margin-left:40px;
}

.top-product-name{
	padding-top:30px;
}

.delivery th,.delivery td{
	border:solid 1px #000;
	padding:10px;
}

.delivery th{
	background-color:#c0c0c0;
}

.admin_guest th{
	background-color:#c0c0c0;
}

.admin_guest th,.admin_guest td{
	border:solid 1px #000;
	padding:10px;
}

.admin_guest_show th,.admin_guest_show td{
    padding:20px;
}